<div class="card">
<h2 class="card-header bg-dark text-light">Login</h2>
<p id="notice">
    <%= notice %>
</p>



<%if flash[:info] %>
   
    
    <h3><%= flash[:info] %></h3>

    <% end %>

<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>

<%= form_tag do %>
<div class="form-group">
  <%= label_tag("Username: ") %>
  <%= text_field_tag(:username) %>
</div>
<div class="form-group">
  <%= label_tag("Password: ") %>
  <%= password_field_tag(:password) %>
</div>
<div class="form-group" style="margin-left: 280px; font-size:18px;">
  <%= submit_tag("Login") %>
</div>

  <div class="form-group">
      <%= label_tag :remember_me %>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    </div>
<% end %>


<h5 class="card-footer"><%= link_to 'Create an User Account', new_user_path %></h5>
</div>