<div class="container-md rounded bg-light p-3 w-50 ml-3" style="height:300px; background-color:#e9ecef; padding:8px; position:relative;">
  <div class="form-inline">
<%= form_for(@group) do |f| %>
  <div class="form-group">
    <div class= "my-1 mr-2">Group Name</div>
    <%= f.text_field :name, {:class => "form-control form-control-sm"} %>
  </div>
<br>
<br>
  <div class="form-group">
    <div class= "my-1 mr-2">Add New Member</div>
    <%= collection_select(:user, :id, @group.not_in_group, :id, :name, {}, {:class => "custom-select my-1 mr-2"}) %>
  
  </div>
  <%# <%= f.select(:users, @users, {}, {multiple: true, selected: @group.not_in_group }) %> 
  <%# options for select and provide the array of selected users????%>
  <div class="form-group">
    <div class="actions" style="position: absolute; bottom: 10px; right:20px;">
      <%= f.submit("Submit", class: "btn btn-success" ) %>
    </div>
    
  </div>
  </div>
<% end %>
</div>