<div class="container-md rounded bg-light p-3 w-25 ml-3" style="height:300px; background-color:#e9ecef; padding:8px; position:relative;">
<%= form_for(@group) do |f| %>
  <div class="form">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<br>
<br>
  <div class="form-group">
  <%= f.label 'Add a New Member'%>
 
  <div class="form-group">
    <%= collection_select(:user, :id, @group.not_in_group, :id, :name) %>
  </div>
  </div>
  <%# <%= f.select(:users, @users, {}, {multiple: true, selected: @group.not_in_group }) %> 
  <%# options for select and provide the array of selected users????%>
  <div class="form-group">
    <div class="actions" style="position: absolute; bottom: 10px; right:20px;">
      <%= f.submit("Submit", class: "btn btn-success" ) %>
    </div>
    
  </div>
  </div>
<% end %>
</div>