<div class="container-md rounded bg-light" style="background-color:#e9ecef; padding:8px;">
<%= form_for(@group) do |f| %>
  <div class="form-group">
   <h4> <%= f.label :name %></h4>
    <%= f.text_field :name %>
  </div>

  <%= collection_select(:user, :id, @group.not_in_group, :id, :name) %>
  <%# <%= f.select(:users, @users, {}, {multiple: true, selected: @group.not_in_group }) %> 
  <%# options for select and provide the array of selected users????%>
  
  <div class="actions" style="margin-left: 225px; font-size:18px;">
    <%= f.submit %>
  </div>
<% end %>
</div>