

<div class="container-md shadow-lg rounded"style="background-color:#e9ecef; padding:8px;">
  <h2 class="card-header rounded bg-dark text-light" >
    <%= @group.name %>
  </h2>
  <div class="row">
  <h6  class="col-8" style="margin:8px;">Commissioner: <em class="text-info"><%=@group.owner.username%></em></h6>
   <h6 class="col-3" style="margin:8px;">Group Donation Total:<em class="text-info"> $<%=@group.pledges_total%>.00 </em></h6>
</div>

<div >
<table class="table table-striped">
  <thead>
    <th class="card-title bg-dark text-light rounded">Members</th>
  </thead>

    <% @group.users.each do |user| %>
  <tr class="card-text">
    <% if user.profile_pic.attached?%>
      <td><img src="<%=(url_for(user.profile_pic))%>" class="rounded-circle" style="height: 70px; width: 70px;"> <%= user.username %></td>
      <% else %>
      <td><%= user.username %></td>
    <% end %>
  </tr>
      
    <% end %>
  </table>
</div>

<div class="row row-cols-2">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <th class="card-title bg-dark text-light rounded">Challenges</th>
      </thead>
      <% @group.challenges.each do |challenge| %>
        <tr class="card-text">
          <td><%= link_to(challenge.name, challenge_path(challenge)) %> 
            <% if challenge_over?(challenge) %>
            | Donated: <span class="text-info">$<%=challenge.pledge_amount%>.00</span> |
            Loser: <span class="text-danger"><%=challenge.low_score.user.username%></span> |
            Winner: <span class="text-success"><%=challenge.high_score.user.username%></span>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
  </div>
  
  <div class="col">
    <table class="table table-striped">
      <thead>
        <th class="card-title bg-dark text-light rounded">Charities</th>
      </thead>
      <% @group.uniq_charities.each do |charity| %>
        <tr class="card-text">
          <td><a href=<%= charity.url%>>
            <%= charity.name%>
          </a></td>
        </tr>
      <% end %>
  </table>
  </div>
  </div>


  <% if can? :update, @group %>
    <div id="accordion" style="margin-top: 15px;" >
      <div class="card shadow-lg">
        <div class="card-header rounded bg-dark text-light" id="headingOne">
          <h3 class="mb-0">
            <button class="btn btn-link" style="color:white; text-decoration:none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Commissioner Tools
            </button>
          </h3>
        </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" style="position: relative;">
        <div class="row row-cols-2">
          <div class="col">
            <h6><%= link_to("Add New Member", edit_group_url(@group)) %></h6>
          </div>
          <div class="col">
            <h6><%=link_to("Add New Challenge", new_challenge_url(group_id: @group.id))%></h6>
          </div>
        </div>
      </div>
          <div class="card-footer">
            <div class="row">
              <h6 style="text-align:center;">Remove Member: </h6>  
                <% @group.memberships.each do |membership| %>
                  <div class="mx-3">
                      <%= button_to(membership.user.username, membership, class: "btn btn-danger m-1", method: :delete, data: {confirm: "Are you sure?"}) %>
                  </div>
                <% end%>   
                  <div class="card-text ml-8" style="position: absolute; right:20px;">
                    <%= button_to("Destroy Group", @group, class: "btn btn-warning", method: :delete, data: { confirm: "Are you sure?"}) %>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  <%end%>
</div>
