<div class="container-md rounded bg-light"
    style="background-color:#e9ecef; padding:8px; display:inline-block;">
  <%= form_for(@user) do |form| %>
    <div class="form-group row" >
      <h4><%= form.label :name %></h4>
      
        <%= form.text_field :name %>
      </div>

    <div class="form-group row">
      <h4><%= form.label :username %></h4>
        <%= form.text_field :username %>
    </div>

    <div class="form-group row">
      <h4><%= form.label :password %></h4>
        <%= form.text_field :password %>
    </div>
    <div class='form-group row'>
     <h4> <%= form.label "Join A Group" %></h4>
        <%= form.collection_select(:group_id, Group.all, :id, :name) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  </div>