<h1>Sign Up</h1>

<div class="container-sm rounded bg-light text-dark shadow-lg rounded py-3"
    style="background-color:#e9ecef; padding:8px; display:inline-block;">
  <%= form_for(@user) do |form| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group row" >
      <h4><%= form.label :name %></h4>
      
        <%= form.text_field :name %>
      </div>

    <div class="form-group row">
      <h4><%= form.label :username %></h4>
        <%= form.text_field :username %>
    </div>

    <div class="form-group row">
      <h4><%= form.label :email %></h4>
        <%= form.email_field :email%>
    </div>


    <div class="form-group row">
      <h4><%= form.label :password %></h4>
        <%= form.password_field :password %>
    </div>


  

    <div class="btn btn-light" type="submit" class="action" >
      <%= form.submit %>
    </>
  <% end %>
  </div>