<div class="container-md rounded bg-light"
    style="background-color:#e9ecef; padding:8px; display:inline-block;">
  <%= form_tag @user, :action => 'create', :url => registration_path(@user), :html => { :mulitpart => true }  %>
    <% if @token != nil %>
      <%= hidden_field_tag :invite_token, @token %>
    <% end %>
    <div class="form-group row" >
      <h4><%= label_tag :user, "Name" %></h4>
      
        <%= text_field :user, :name %>
      </div>

    <div class="form-group row">
      <h4><%= label_tag :user, :username %></h4>
        <%= text_field :user, :username %>
    </div>

    <div class="form-group row">
      <h4><%= label_tag :user, :email %></h4>
        <%= email_field :user, :email %>
    </div>


    <div class="form-group row">
      <h4><%= label_tag :user, 'Password' %></h4>
        <%= password_field :user, :password %>
    </div>
  

  
      <%= submit_tag "Sign Up" %>
 
  <% end %>
  </div>