

<div class="container-sm w-50 rounded bg-light text-dark shadow-lg rounded py-3 m-3"
    style="background-color:#e9ecef; padding:8px; display:inline-block; position:relative;">
  <%= form_for(@user) do |form| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group row" >
      <h4><%= form.label "Profile Photo" %></h4>
      
        <%= form.file_field :profile_pic %>
      </div>
    <div class="form-group row" >
      <h4><%= form.label :name %></h4>
      
        <%= form.text_field :name %>
      </div>

    <div class="form-group row">
      <h4><%= form.label :username %></h4>
        <%= form.text_field :username %>
    </div>

    <div class="form-group row">
      <h5><%= form.label :email %></h5>
        <%= form.email_field :email%>
    </div>


    <div class="form-group row">
      <h4><%= form.label :password %></h4>
        <%= form.password_field :password %>
    </div>

    


  

  <div class="actions" style="position: absolute; bottom: 10px; right:20px;">
      <%= form.submit("Submit", class: "btn btn-success" ) %>
  </div>
  <% end %>
  </div>