<div class="container-md shadow-lg rounded" 
  style="background-color:#e9ecef;
    padding:8px;">
  <h5>
    Welcome back, 
  </h5>
  
  <h3>
    <%= @user.name %>!
  </h3>

  <h5>
    <strong>Username:</strong>
    <%= @user.username %>
  </h5>

  <% if @user.profile_pic.attached?%>
  <image src="<%=(url_for(@user.profile_pic))%>" class="img-thumbnail rounded-circle" style="height: 100px; width: 100px;">
  <% end %>
  
    <h5>
      <strong>Group:</strong>
    </h5>
      <ul class="list-group-fluid w-50" >
      <% @user.groups.each do |group| %>
        <li class="list-group-item my-2 rounded shadow-sm"> 
          <h5>
            <%= link_to(group.name, group_path(group)) %>
          </h5>
        </li>
      <% end %>
      </ul>

        <h4>My Active Challenge(s):</h4>
      <ul class="list-group-fluid w-50" >
      <% @user.challenges.each do |challenge| %>
          <li class="list-group-item my-2 rounded shadow-sm"> 
            <h5>
              <%= link_to(challenge.name, challenge_path(challenge)) %> - 
              <em>
                <%= challenge.charity.name%>
              </em>
            </h5>
            <h6>
            <%= challenge.activity_reps %>
            <%= challenge.activity_name %>, completed by  
            <%= challenge.end_date.strftime("%a %b #{challenge.end_date.day.ordinalize}, %Y")%>
            </h6>
          </li>
      <% end %>
      </ul>

      <% @user.pledges.each do |pledge|%>
      <table class='table table-striped rounded shadow-md'>
        <thead class="bg-dark text-light ">
          <th>Chairty</th>
          <th>Donation</th>
          <th>Group</th>
          <th>Challenge</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=pledge.charity.name%>
            </td>
            <td>
              $<%=pledge.amount%>.00
            </td>
            <td>
              <%=pledge.group.name%>
            </td>
            <td>
              <%=pledge.challenge.name%>
            </td>
            <td>
              <%=pledge.challenge.end_date.strftime("%m/%d/%Y")%>
            </td>
          </tr>
      <% end %>
        </tbody>
      </table>
    
  <h5><%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete Profile', @user, method: :delete, data: {confirm: "Are you sure?"}%></h5>




</div>

