<div class="container-md shadow-lg rounded" 
  style="background-color:#e9ecef;
    padding:8px;">
  <h3>
    Welcome back, <%= @user.name %>!
  </h3>
  <h4>
    <strong>Username:</strong>
    <%= @user.username %>
  </h4>
  
    <h4>
      <strong>Group:</strong>
      <%= link_to(@user.group.name, group_path(@user.group)) %>
    </h4>

        <h5>My Active Challenge</h5>
      <ul class="list-group-fluid w-50" >
      <% @user.challenges.each do |challenge| %>
          <li class="list-group-item my-2 rounded shadow-sm"> 
            <h5>
              <%= link_to(challenge.name, challenge_path(challenge)) %> - 
              <em>
                <%= challenge.charity.name%>
              </em>
            </h5>
            <h6>
            <%= challenge.activity_reps %>
            <%= challenge.activity_name %>, completed by  
            <%= challenge.end_date.strftime("%a %b #{challenge.end_date.day.ordinalize}, %Y")%>
            </h6>
          </li>
      <% end %>
  
      </ul>
    





</div>


<h2><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete Profile', @user, method: :delete, data: {confirm: "Are you sure?"}%></h2>