 <div class="card mx-auto bg-light text-dark shadow-lg p-2" style="width: 200px; text-align: center;">
       <h2> Charities </h2>
    </div>

<div class="card-group" style="width: 40%;">
<% @charities.each do |charity| %>
    <div class="card rounded pt-0" 
        style="border:0px solid #9a9b9c; 
            display:flex;
            margin: 30px 10px 30px 10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);"
    >
    <% if charity.photo.attached?%>
        <img src="<%=(url_for(charity.photo))%>" class="card-img-top mb-1" alt="charity-photo" style="height: 300px;">
    <% end %>
        <div class="card-body">    
        <h5 class="card-title">
            <%= charity.name %>
        </h5>
        <p class="card-text">
           <em> <%= charity.description %></em>
        </p>
        <a href=<%=charity.url%> class="card-text">
            Donate Now!
        </a>
        </div>
        <% if can? :manage, :all %>
            <div class="card-footer mt-1">
                <%= link_to("Edit Charity", edit_charity_path(charity.id))%> |
                <%= link_to("Delete", charity, method: :delete, data: { confirm: 'Are you sure?' }) %>
            </div>
        <% end %>
    </div>
    <% end %>
</div>
<% if logged_in? %>
<div class="card mx-auto bg-light text-dark shadow-lg p-2" style="width: 200px; text-align: center;">
    <h5><%= link_to("Add a New Charity", new_charity_path) %></h5>
</div>
<% end %>

