<%= form_for(@challenge) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :activity_name %>
    <%= f.text_field :activity_name %>
    <br>
    <%= f.label :activity_reps %>
    <%= f.text_field :activity_reps %>
    <br>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
    <br>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    <br>
    <%= f.hidden_field :group_id %>
  </div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


