<%= form_for(@challenge) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :activity_name %>
    <%= f.text_field :activity_name %>
    <br>
    <%= f.label :activity_reps %>
    <%= f.text_field :activity_reps %>
    <br>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, data:{ provide:'datepicker', date_format: "yyyy-mm-dd"} %>
    <br>
    <%= f.label :end_date %>
    <%= f.text_field :end_date, placeholder: "", data:{ provide:'datepicker', date_format: "yyyy-mm-dd"} %>
    <br>
    <%= f.collection_select(:group_id, Group.all, :id, :name) %>
  </div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>