<div class="container-sm rounded bg-light"
    style="background-color:#e9ecef; padding:10px; margin-left: 10px;margin-top:8px;width: 816px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
<%= form_for(@challenge) do |f| %>
  <div class="field">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, placeholder: "Squeeze a Cure, Make Cancer Walk the Plank..." %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :activity_name %>
      <%= f.text_field :activity_name, required: true, placeholder: "Push-Ups, Planks..." %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label "Rep Goal" %>
      <%= f.text_field :activity_reps, required: true, placeholder: "50, 100, 1,000", maxlength: 10 %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, required: true %>
    </div>
    <br>
    <div class="form-group">
      <%# <%= f.label :end_date %>
      <%# <%= f.date_field :end_date, required: true %>
    </div>
     <div class="form-group">
      <%= f.label :end_date, value: @challenge[:start_date] + 7.days %>
      <%= f.hidden_field :end_date, value: @challenge[:start_date] + 7.days %>
      <%# <%= f.hidden_field :end_date, value: @challenge.start_date.next_week, required: true %>
    </div>
    <br>
    <div class="form-group" style="font-size: 20px;margin-left: 10px; padding: 4px;">
    <%= f.collection_select(:charity_id, Charity.all, :id, :name) %>
    <%= f.collection_select(:group_id, current_user.owned_groups, :id, :name) %>
    </div>
  </div>

  <div class="actions" style="font-size: 20px; margin-left: 10px;">
    <%= f.submit %>
  </div>
<% end %>
</div>


