<div class="container-sm rounded bg-light"
    style="background-color:#e9ecef; padding:10px; margin-left: 10px;margin-top:8px;width: 816px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); position: relative;">
<%= form_for(@challenge) do |f| %>
  <div class="field">
    <div class="form-group container-sm rounded p-2">
      <%= f.label :name %>
        <%= f.text_field :name, required: true, placeholder: "Squeeze a Cure, Make Cancer Walk the Plank..." %> 
    </div>
    
    <div class="form-group container-sm rounded p-2">
      <%= f.label "Activity" %>
      <%= f.text_field :activity_name, required: true, placeholder: "Push-Ups, Planks..." %>
    </div>
    <br>
    <div class="form-group container-sm rounded p-2">
      <%= f.label "Rep Goal" %>
      <%= f.text_field :activity_reps, required: true, placeholder: "50, 100, 1,000", maxlength: 10 %>
    </div>
    <br>
    <div class="form-group container-sm rounded p-2">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, required: true %>
      <small class="form-text text-muted">Challenges last for one week.</small>
    </div>
   <br>

    <div class="form-group">
      <%# <%= f.label :end_date, value: @challenge[:start_date] + 7.days %> 
      <%=  f.hidden_field :end_date %>
    </div>
  
    <div class="form-col-2 ">
      <div class="form-group p-2">
        <%=  f.label :charity_id, "Charity" %>
        <%= f.collection_select(:charity_id, Charity.all, :id, :name) %>
      </div>
      <div class="form-group container-sm rounded p-2">
      <%= f.label "Pledge $" %>
      <%= f.number_field :pledge_amount, required: true, maxlength: 5, :style=>"width:8%;" %>.00 USD
    </div>
      <br>
      <div class="form-group p-2">
      <%= f.hidden_field :group_id%>
        <%# <%=  f.label :group_id, "Group" %>
        <%# <%= f.collection_select(:group_id, current_user.owned_groups, :id, :name) %> 
      </div>

  </div>

  <div class="actions" style="position: absolute; bottom: 10px; right:20px;">
    <%= f.submit("Submit", class: "btn btn-success" ) %>
  </div>
<% end %>
</div>


