<div class="row mx-auto">
  <div class="col w-auto">
    <div class="card shadow-lg rounded w-auto" style="border: 1px;">
      <h2 class="card-header bg-dark text-light" 
          style="text-shadow: 2px 2px 4px dark;"> 
          <%= @challenge.name %>
      </h2>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <h5 class="card-title pb-2">
                <em>
                  <%= @challenge.start_date.strftime("%a %b #{@challenge.start_date.day.ordinalize}, %Y") %> -
                  <%= @challenge.end_date.strftime("%a %b #{@challenge.end_date.day.ordinalize},  %Y") %>
                </em> 
              </h5>
            </div>
            <div class="col-2">
              <h5>Group: <%= link_to(@challenge.group.name, group_path(@challenge.group))%></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6 rounded p-2" style="background-color: #DCDCDC;">
              <h5 class="card-text">
                <strong>Activity:</strong> <em class="text-info"><%= @challenge.activity_name %></em>
              </h5>

              <h5 class="card-text">
                <strong>Reps:</strong>
                <em class="text-info"><%= @challenge.activity_reps %></em>
              </h5>
              <h6 class="card-title">
                  Loser Donates to:
                </h6>
              <% if @challenge.charity.photo.attached?%>
                <a href=<%=@challenge.charity.url%> class="card-text">
                  <img src="<%=(url_for(@challenge.charity.photo))%>" class="rounded-circle"  alt="charity-photo" style="height: 100px; width:100px;">
                </a>
              <% else %>
                <h5 class="card-text text-info">
                  <%= @challenge.charity.name%>
                </h5>
              <% end %>
                <h5 class="card-text">Donation Amount: $<%=@challenge.pledge_amount%>.00 USD</h5>
                <p class="card-text">
                  <em><%= @challenge.charity.description %></em>
                </p>
            </div>


            <div class="col-4">
            <div class="card p-2" style="background-color: #DCDCDC;">
              <h5 class="card-title text-success">Leader</h5>
                <div class="card-text pb-3">
                <% if @challenge.trackers.blank?%>
                  <h6>Apparently, none of you...</h6>
                <%else%>
                  <%= @challenge.high_score.user.username %> - <%= @challenge.high_score.total_reps %> reps
                  <p>
                    <%= @challenge.activity_reps - @challenge.high_score.total_reps %> reps to reach goal
                  </p>
                <%end%>
                </div>
              <h5 class="card-title text-danger border-top border-dark pt-1">Laziest</h5>
                <div class="card-text">
                <% if @challenge.trackers.blank?%>
                  <h6>Everyone in <%=@challenge.group.name%></h6>
                <%else%>
                  <%= @challenge.low_score.user.username %> - <%= @challenge.low_score.total_reps %> reps
                  <p>
                    <%= @challenge.activity_reps - @challenge.low_score.total_reps %> reps to reach goal
                  </p>
                <%end%>
              </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  



<% if challenge_over?(@challenge)%>
<div class="card shadow-lg mt-3" style="border: 1px; text-align: center; position:relative;">  
    <%if @challenge.my_pledge_complete?%>
  <div class="card-header bg-success text-light">
      <h2>Donation Complete!</h2>
      <% if @challenge.pledge.donation_image.attached?%>
      <img src="<%=(url_for(@challenge.pledge.donation_image))%>" alt="donation-img">
      <%end%>
    <% else %>
    <div class="card-header bg-warning">
      <h2>Challenge Donation Pending</h2>
  </div>
  <div class="card-body bg-light">
    <div class="card-text ">
      <div class="row row-cols-4">
        <div class="row">
          <div class="col">
            <h4>Challenge Loser:</h4>
            <h2 class="text-danger" ><%=@challenge.low_score.user.username%></h2>
          </div> 
        </div>
        <div class="row">
          <h4>Please donate <div class="text-info">$<%=@challenge.pledge_amount%>.00</div> </h4>
        </div>
    
      <div class="row">
        <a href=<%=@challenge.charity.url%> class="card-text">
          <% if @challenge.charity.photo.attached?%>
            <img src="<%=(url_for(@challenge.charity.photo))%>"  alt="charity-photo" style="height: 100px; width:100px; margin-right:8px;" class="rounded-circle img-thumbnail">
          <% end %>
        </a>
      </div>
     
            <div class="row" style="height: 50px">
          <% if challenge_loser(@challenge)%>
              <small>Click on the thumbnail to donate. Screenshot your reciept and upload it on the next page </small>
              <%= link_to("Fulfill Donation Pledge!", new_pledge_url(challenge_id: @challenge.id), {:class=>"btn btn-warning btn-lg btn-block"})%>
          <% else %>
                <div class="row">
                <h4>Waiting on...    </h4>
                
                <h4><div class="text-danger">
                <br>
                  <%=@challenge.low_score.user.username%></div></h4>
                
              </div>
          <% end %>
            </div>
      </div>
    </div>
 </div>   
</div>
    <%end%>
<% else %>
<div class="row mx-auto">
<div class="col-md"style="margin-top:20px;">
<div class="card shadow-lg rounded" style="border: 1px;">
  <table class="table table-striped">
  <tr>
  <h2 class="card-header bg-dark text-white"
      style="text-shadow: 2px 2px 4px dark;"
  >
    Challenge Tracker
  </h2>
  </tr>

    <thead>
      <th scope="col">Member</th>
      <th scope="col"><%= @challenge.start_date.strftime("%a #{@challenge.start_date.day.ordinalize}")%></th>
      <th scope="col"><%= @challenge.start_date.next_day(1).strftime("%a #{@challenge.start_date.next_day(1).day.ordinalize}")%></th>
      <th scope="col">
        <%= @challenge.start_date.next_day(2).strftime("%a #{@challenge.start_date.next_day(2).day.ordinalize}")%>
      </th>
      <th scope="col">
        <%= @challenge.start_date.next_day(3).strftime("%a #{@challenge.start_date.next_day(3).day.ordinalize}")%>      </th>
      <th scope="col">
        <%= @challenge.start_date.next_day(4).strftime("%a #{@challenge.start_date.next_day(4).day.ordinalize}")%>
      </th>
      <th scope="col">
        <%= @challenge.start_date.next_day(5).strftime("%a #{@challenge.start_date.next_day(5).day.ordinalize}")%>
      </th>
      <th scope="col"><%= @challenge.end_date.strftime("%a #{@challenge.end_date.day.ordinalize }")%></th>
      <th scope="col">Total</th>
      <% if can? :manage, @challenge%>
      <th scope="col">Add Reps</th>
      <% end %>
    </thead>
    <tbody>
    <% @challenge.rank_trackers.each do |track| %>
      <tr>
        <% if track.user.profile_pic.attached?%>
      <td><image src="<%=(url_for(track.user.profile_pic))%>" class="rounded-circle" style="height: 40px; width: 40px;">
          <%= track.user.username %>
      </td>
        <% else %>
          <td scope="row"> <%= track.user.username unless track.user.blank? %></td>
        <% end %> 
          <td><%= track.sunday_reps%></td>
          <td><%= track.monday_reps%></td>
          <td><%= track.tuesday_reps%></td>
          <td><%= track.wednesday_reps%></td>
          <td><%= track.thursday_reps%></td>
          <td><%= track.friday_reps%></td>
          <td><%= track.saturday_reps%></td>
          <td><%= track.total_reps%></td>
          <td>
              <%= link_to  "+", edit_tracker_path(track.id) %>
            
          </td>
    </tr>
   
    </tbody>
    <% end %>
  </table>
  <% end %>
 
<%# <% if can? :manage, @challenge%>
  <div class="card-footer">
  <% if !challenge_over?(@challenge)%>
    <% if my_tracker?(@challenge)%>
      <%= link_to("Create your Tracker", new_tracker_path(challenge_id: @challenge.id)) %>
    <% end %>
   <%end%>
  </div>
  <%# <% end %> 
</div>
</div>
</div>



<br>
<% if can? :manage, @challenge %>
  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-dark w-25 shadow-lg" style="margin: 15px; padding:15px; margin-left:15px;">
        <h4>
          <%= link_to("Edit", edit_challenge_path(@challenge), class: "btn btn-warning") %> 
          <%= link_to("Delete", @challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger") %>
        </h4>
      </div>
    </div>
  </div>
<% end %>