<h1><%= @challenge.name %></h1>

<p>
  <strong>Activity:</strong>
  <%= @challenge.activity_name %>
</p>

<p>
<strong>Goal Activity Reps</strong>
<%= @challenge.activity_reps %>
</p>

<p>
  <strong>Challenge Start-Date: </strong>
  <%= @challenge.start_date.strftime("%a, %b %d - %Y") %>
</p>

<p>
  <strong>Challenge End-Date: </strong>
  <%= @challenge.end_date.strftime("%a, %b %d - %Y") %>
</p>

<p>
  <strong>Challenge Group: </strong>
  <%= link_to(@challenge.group.name, group_path(@challenge.group)) %>
<ul>
<strong>Particpating Members: </strong> 
  <% @challenge.group.users.each do |user| %>
    <li><%= link_to(user.name, user_path(user)) %></li>
  <% end %>
</ul>
</p>
<br>
<br>

<table>
<tr>
<th>Challenge Tracker<th>
</tr>
  <tr>
    <td>Member</td>
    <td>Sunday</td>
    <td>Monday</td>
    <td>Tuesday</td>
    <td>Wednesday</td>
    <td>Thursday</td>
    <td>Friday</td>
    <td>Saturday</td>
    <td>Total</td>
    <td>Add Reps</td>
  </tr>
  <% @challenge.trackers.each do |track| %>
    <tr>
        <td> <%= track.user.name %></td>
        <td><%= track.sunday_reps%></td>
        <td><%= track.monday_reps%></td>
        <td><%= track.tuesday_reps%></td>
        <td><%= track.wednesday_reps%></td>
        <td><%= track.thursday_reps%></td>
        <td><%= track.friday_reps%></td>
        <td><%= track.saturday_reps%></td>
        <td><%= track.total_reps%></td>
        <td>
          <%= link_to  "+", edit_tracker_path(track.id) %>
        </td>
  </tr>
  <% end %>
</table>




<h2><%= link_to('All challenges', challenges_path) %> |


<%= link_to("Edit", edit_challenge_path(@challenge)) %></h2>