<div class="row mx-auto">
  <div class="col w-auto">
    <div class="card shadow-lg rounded w-auto" style="border: 1px;">
      <h2 class="card-header bg-dark text-light" 
          style="text-shadow: 2px 2px 4px dark;"> 
          <%= @challenge.name %>
      </h2>
        <div class="card-body">
          <div class="row">
              <h5 class="card-title pb-2">
                <em>
                  <%= @challenge.start_date.strftime("%a %b #{@challenge.start_date.day.ordinalize}, %Y") %> -
                  <%= @challenge.end_date.strftime("%a %b #{@challenge.end_date.day.ordinalize},  %Y") %>
                </em>
              </h5>
          </div>
          <div class="row">
            <div class="col-4 rounded p-2" style="background-color: #DCDCDC;">
              <h5 class="card-text">
                <strong>Activity:</strong> <em class="text-info"><%= @challenge.activity_name %></em>
              </h5>
              <h5 class="card-text">
                <strong>Goal Activity Reps</strong>
                <em class="text-info"><%= @challenge.activity_reps %></em>
              </h5>
              <h6 class="card-title">
                  Loser Donates to:
                </h6>
                <h5 class="card-text text-info">
                  <%= @challenge.charity.name%>
                </h5>
                <p class="card-text">
                  <em><%= @challenge.charity.description %></em>
                </p>
                <a href=<%=@challenge.charity.url%> class="card-text">
                  Donate Now!
                </a>
            </div>
          
            <div class="col-3 rounded p-2 ml-2" style="background-color: #DCDCDC;">
              <h4 class="card-title">
              <% if logged_in? %>
                <%= link_to(@challenge.group.name, group_path(@challenge.group)) %>
              <% else %>
                <h3><%= @challenge.group.name %><h3>
              <% end %>
              </h3>
              <h6 class="card-title">
                <strong>Particpating Members: </strong>
              </h6>
              <p class="card-text">
                <ul>
                  <% @challenge.group.users.each do |user| %>
                    <li><h4><%= user.username %></h4></li>
                  <% end %>
                </ul>
      
          
            </div>

            <div class="col-4">
            <div class="card p-2" style="background-color: #DCDCDC;">
              <h5 class="card-title text-success">Leader</h5>
                <div class="card-text pb-3">
                <% if @challenge.trackers.blank?%>
                  <h6>No trackers yet</h6>
                <%else%>
                  <%= @challenge.high_score.user.username %> - <%= @challenge.high_score.total_reps %> reps
                <%end%>
                </div>
              <h5 class="card-title text-danger border-top border-dark pt-1">Laziest</h5>
                <div class="card-text">
                <% if @challenge.trackers.blank?%>
                  <h6>No trackers yet</h6>
                <%else%>
                  <%= @challenge.low_score.user.username %> - <%= @challenge.low_score.total_reps %> reps
                <%end%>
              </div>  
              </div>
                
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  



<div class="row mx-auto">
<div class="col-md"style="margin-top:20px;">
<div class="card shadow-lg rounded" style="border: 1px;">
  <table class="table table-striped">
  <tr>
  <h2 class="card-header bg-dark text-white"
      style="text-shadow: 2px 2px 4px dark;"
  >
    Challenge Tracker
  </h2>
  </tr>
    <thead>
      <th scope="col">Member</th>
      <th scope="col"><%= @challenge.start_date.strftime("%a #{@challenge.start_date.day.ordinalize}")%></th>
      <th scope="col"><%= @challenge.start_date.next_day(1).strftime("%a #{@challenge.start_date.next_day(1).day.ordinalize}")%></th>
      <th scope="col">
        <%= @challenge.start_date.next_day(2).strftime("%a #{@challenge.start_date.next_day(2).day.ordinalize}")%>
      </th>
      <th scope="col">
        <%= @challenge.start_date.next_day(3).strftime("%a #{@challenge.start_date.next_day(3).day.ordinalize}")%>      </th>
      <th scope="col">
        <%= @challenge.start_date.next_day(4).strftime("%a #{@challenge.start_date.next_day(4).day.ordinalize}")%>
      </th>
      <th scope="col">
        <%= @challenge.start_date.next_day(5).strftime("%a #{@challenge.start_date.next_day(5).day.ordinalize}")%>
      </th>
      <th scope="col"><%= @challenge.start_date.strftime("%a #{@challenge.end_date.day.ordinalize }")%></th>
      <th scope="col">Total</th>
      <% if can? :manage, @challenge%>
      <th scope="col">Add Reps</th>
      <% end %>
    </thead>
    <tbody>
    <% @challenge.rank_trackers.each do |track| %>
      <tr>
          <td scope="row"> <%= track.user.username unless track.user.blank? %></td>
          <td><%= track.sunday_reps%></td>
          <td><%= track.monday_reps%></td>
          <td><%= track.tuesday_reps%></td>
          <td><%= track.wednesday_reps%></td>
          <td><%= track.thursday_reps%></td>
          <td><%= track.friday_reps%></td>
          <td><%= track.saturday_reps%></td>
          <td><%= track.total_reps%></td>
          <td>
            <% if can? :manage, @challenge%>
              <%= link_to  "+", edit_tracker_path(track.id) %>
            <% end %>
          </td>
    </tr>
   
    </tbody>
    <% end %>
  </table>
 
<% if can? :manage, @challenge%>
  <div class="card-footer">
  <% if my_tracker?(@challenge)%>
      <%= link_to("Create your Tracker", new_tracker_path) %>
   <% end %>
  </div>
  <% end %>
</div>
</div>
</div>



<br>
<% if can? :manage, @challenge %>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="margin: 15px; padding:15px; margin-left:15px;">
        <h4>
          <%= link_to("Edit", edit_challenge_path(@challenge)) %> |
          <%= link_to("Delete", @challenge, method: :delete, data: { confirm: 'Are you sure?' }) %>
        </h4>
      </div>
    </div>
  </div>
<% end %>