<!DOCTYPE html>
<html>
  <head>
    <title>SweatClause</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png')%>
  </head>

  <body class="container-fluid" style="background-color:#557a95;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-top" style="text-shadow: 1px 1px 1px #000; font-size:28px;">
  <a class="navbar-brand" href="/">SweatClause</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if logged_in? %>
        <a class="nav-item nav-link" href="/profile">My Profile</a>
        <a class="nav-item nav-link" href="/logout">Log Out</a>
        <a class="nav-item nav-link" href="/pledges">Pledges</a>
      <% else %>
        <a class="nav-item nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      <% end %>
      <% if can? :manage, :all%>
      <a class="nav-item nav-link" href="/users">Users</a>
      <%end%>
      <a class="nav-item nav-link" href="/challenges">Challenges</a>
      <a class="nav-item nav-link" href="/groups">Groups</a>
      <a class="nav-item nav-link" href="/charities">Charities</a>
  
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid rounded-bottom" style="padding-top: 22px; padding-bottom: 2px;">
  <div class="container" style="position:relative;">
    <h1 class="display-5" style="color: #7395ae;">SweatClause</h1>
    <p class="lead"style="color:#5d5c61;"><em>Get in Shape or Donate</em></p>
    <% if Pledge.all %>
      <p class="lead" style="color:#5d5c61;">
      Donation Total: $<%=Pledge.donation_total%>.00
      </p>
    <% end %> 
    <% if logged_in? %>
    <p class="lead" style="position: absolute; bottom: 2px; right:20px; color:#5d5c61;">
    Signed in as <strong><%= current_user.username %></strong>
    </p>
    <% end %>
    </div>
    <div class="card-footer pr-3">
      <%= link_to("GitHub", "https://github.com/christopherkalfas/sweatclause422", target: :_blank) %> |
      <%= link_to("LinkedIn", "https://www.linkedin.com/in/christopherkalfas", target: :_blank) %> |
      <%= link_to("Portfolio", "https://chriskalfas.com", target: :_blank) %>
    </div>
  </div>
</div>
<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>


  </div>
</div>
    <%= yield %>
  </body>
</html>
