<!DOCTYPE html>
<html>
  <head>
    <title>Sweatclause422</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid" style="background-color:#9cb3c9;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-top" style="text-shadow: 1px 1px 1px #000; font-size:28px;">
  <a class="navbar-brand" href="/login">Sweat Clause</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users">Users</a>
      <a class="nav-item nav-link" href="/challenges">Challenges</a>
      <a class="nav-item nav-link" href="/groups">Groups</a>
      <a class="nav-item nav-link" href="/charities">Charities</a>
      <a class="nav-item nav-link" href="/logout">Log Out</a>
  
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid rounded-bottom" style="padding-top: 22px; padding-bottom: 22px;">
  <div class="container">
    <h1 class="display-5">Sweat Clause</h1>
    <p class="lead"><em>Get in Shape or Donate</em></p>
  </div>
</div>

    

  </div>
</div>
    <%= yield %>
  </body>
</html>
