<!DOCTYPE html>
<html>
  <head>
    <title>Sweatclause422</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/login">Sweat Clause</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users">Users</a>
      <a class="nav-item nav-link" href="/challenges">Challenges</a>
      <a class="nav-item nav-link" href="/groups">Groups</a>
      <a class="nav-item nav-link" href="/logout">Log Out</a>
  
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sweat Clause</h1>
    <p class="lead">Get in Shape or Donate</p>
  </div>
</div>

    

  </div>
</div>
    <%= yield %>
  </body>
</html>
