<!DOCTYPE html>
<html>
  <head>
    <title>Sweatclause422</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sweat Clause</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
  <div class="header">
  <h2><a href="/login" class="logo">Sweat Clause</a></h2>
  <div class="header-right">
    <a class="active" href="/login">Login</a>
    <a href="/users">Users</a>
    <a href="/challenges">Challenges</a>
    <a href="/trackers/new"> Create a Tracker</a>
    <a href="/groups"> Groups</a>
    <a class="active" href="/logout">Log Out</a>
    

  </div>
</div>
    <%= yield %>
  </body>
</html>
